<ion-header class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-title>
      Noticias Colombia
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-refresher color="dark" slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-down-outline"
      pullingText="Arrastre para actualizar"
      refreshingSpinner="crescent"
      refreshingText="Actualizando Noticias...">
    </ion-refresher-content>
  </ion-refresher>
  <app-noticias [noticias]="noticias"></app-noticias>
  <ion-infinite-scroll #infiniteScrollNews
                        threshold="150px"
                        (ionInfinite)="loadNextPage($event)">
    <ion-infinite-scroll-content loadingSpiner="crescent"
                                  loadingText="Obteniendo más noticias...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
